<h4>Edit Account</h4>

<label>New Account Name:</label>
<input [(ngModel)]="selectedAccount.name">
<br>

<label>New Account Description:</label>
<input [(ngModel)]="selectedAccount.description">
<br>

<label>New Account Goal:</label>
<input [(ngModel)]="selectedAccount.goal">
<br>

<label>New Account Category:</label>
<input [(ngModel)]="selectedAccount.category">
<br>

<label>New Account Image:</label>
<input [(ngModel)]="selectedAccount.image">

<button class="btn btn-warning" (click)="beginUpdatingAccount(selectedAccount)">Update</button>
<button class="btn btn-danger" (click)="beginDeletingAccount(selectedAccount)">Delete</button>
