<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Account</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Account Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Account Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>

      <div>
        <label>Account Donation Goal:</label>
        <br>
        <input #newGoal>
      </div>
      <div>
        <label> Account Category:</label>
        <br>
        <select>
          <option #newCategory>Charity</option>
          <option #newCategory>Products</option>
          <option #newCategory>Other</option>
        </select>
      </div>

      <div>
        <label>Account Image:</label>
        <br>
        <input #newImage>
      </div>
      <br>
      <button class="btn btn-primary" (click)="submitForm(newName.value, newDescription.value, newGoal.value, newImage.value, newCategory.value); newName.value=''; newDescription.value=''; newGoal.value=''; newImage.value=''; newCategory.value=''">Add Account</button>
    </div>
  </div>
</div>

<div>
  <app-welcome></app-welcome>

</div>
